<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>myDb</servlet-name>
        <servlet-class>com.daa.servlet.DatabaseServlet</servlet-class>
        <init-param>
            <param-name>jdbcClass</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:mysql://localhost:3306/listenfuellen</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>secret</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>myDb</servlet-name>
        <url-pattern>/dbservlet/myDb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.daa.servlet.ImageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/imgage/myPicture.jpg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
